*.dump
rel/*.gz
policy/tmp*
policy/*.pp
*.beam
.eunit
deps/*
ebin/*
rel/cinched
dev
apps/cinched/src/*
.rebar/
.*_plt
priv/
c_src/*.o
package/BUILD
package/BUILDROOT
package/packages
package/cinched*
