#########################################
## <summary>
##      Role access for cinched_operator
## </summary>
## <param name="role">
##      <summary>
##      Role allowed access.
##      </summary>
## </param>
## <param name="domain">
##      <summary>
##      User domain for the role.
##      </summary>
## </param>
#
interface(`cinched_operator',`
        gen_require(`
          attribute_role cinched_roles;
          type cinched_exec_t;
          type cinched_service_t;
        ')

  roleattribute $1 cinched_roles;
  allow $2 { cinched_exec_t }:dir list_dir_perms;
  allow $2 { cinched_exec_t }:file read_file_perms;

  domtrans_pattern($2, cinched_exec_t, cinched_service_t)
  ps_process_pattern($2, cinched_service_t)
  allow cinched_service_t $2:fd use;

')

#########################################
## <summary>
##      Role access for cinched_sysadmin
## </summary>
## <param name="role">
##      <summary>
##      Role allowed access.
##      </summary>
## </param>
#
interface(`cinched_sysadmin',`
        gen_require(`
          type cinched_exec_t;
          type cinched_etc_t;
          type cinched_log_t;
          type cinched_lib_t;
          type cinched_audit_log_t;
          type cinched_t;
        ')

  allow $1 { cinched_t cinched_audit_log_t cinched_lib_t cinched_etc_t cinched_log_t cinched_exec_t }:dir list_dir_perms;
  allow $1 { cinched_t cinched_audit_log_t cinched_lib_t cinched_etc_t cinched_log_t cinched_exec_t }:file read_file_perms;
  allow $1 { cinched_t cinched_audit_log_t cinched_lib_t cinched_etc_t cinched_log_t cinched_exec_t }:dir relabelto_dir_perms;
  allow $1 { cinched_t cinched_audit_log_t cinched_lib_t cinched_etc_t cinched_log_t cinched_exec_t }:file relabelto_file_perms;
')

#########################################
## <summary>
##      Role access for cinched_admin
## </summary>
## <param name="role">
##      <summary>
##      Role allowed access.
##      </summary>
## </param>
#
interface(`cinched_admin',`
        gen_require(`
          type cinched_exec_t;
          type cinched_etc_t;
          type cinched_log_t;
          type cinched_t;
          type cinched_audit_log_t;
          type cinched_lib_t;
        ')

  allow $1 { cinched_t cinched_audit_log_t cinched_lib_t cinched_etc_t cinched_log_t cinched_exec_t }:dir list_dir_perms;
  allow $1 { cinched_t cinched_audit_log_t cinched_lib_t cinched_etc_t cinched_log_t cinched_exec_t }:file read_file_perms;
  allow $1 { cinched_t cinched_audit_log_t cinched_lib_t cinched_etc_t cinched_log_t cinched_exec_t }:dir relabel_dir_perms;
  allow $1 { cinched_t cinched_audit_log_t cinched_lib_t cinched_etc_t cinched_log_t cinched_exec_t }:file relabel_file_perms;
')
