%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{sys, [
       {lib_dirs, ["./deps"]},
       {erts, [{mod_cond, derived},{app_file, strip}]},
       {rel, "cinched", "0.0.2",
        [
         kernel,
         stdlib,
         crypto,
         asn1,
         public_key,
         ssl,
         cinched
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib,
         crypto,
         asn1,
         public_key,
         ssl
        ]},
       {relocatable,true},
       {boot_rel, "cinched"},
       {profile, embedded},
       {app_file, strip},
       {debug_info, strip},
       {excl_archive_filters, [".*"]},
       {excl_sys_filters, ["^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {app, wx, [{incl_cond, exclude}]},
       {app, proper, [{incl_cond, exclude}]},
       {app, mnesia, [{incl_cond, exclude}]},
       {app, xmerl, [{incl_cond, exclude}]},
       {app, meck, [{incl_cond, exclude}]},
       {app, eunit, [{incl_cond, exclude}]},
       {app, cache, [{incl_cond, include}]},
       {app, asn1, [{incl_cond, include}]},
       {app, nacl, [{incl_cond, include}]},
       {app, shamir, [{incl_cond, include}]},
       {app, cowlib, [{incl_cond, include}]},
       {app, ranch, [{incl_cond, include}]},
       {app, jiffy, [{incl_cond, include}]},
       {app, ocsperl, [{incl_cond, include}]},
       {app, foldrerl, [{incl_cond, include}]},
       {app, passwderl, [{incl_cond, include}]},
       {app, riak_ensemble, [{incl_cond, include}]},
       {app, exometer_core, [{incl_cond, include}]},
       {app, cowboy, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, ssl, [{incl_cond, include}]},
       {app, public_key, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, exclude}]},
       {app, cinched, [{incl_cond, include}, {lib_dir, "."}]}
      ]}.
